:root {
  --sidebar-bg: #e5e6e9;
  --border-color: #d3d5d8;
  --app-gray: #6e6f78;
  --app-light-gray: #e4e5e8;
  --app-deep-gray: #4e5058;
  --inverse-white: white;
  --inverse-black: black;
  --mini-profile-details: #e0e2e4;
  --input-bg-color: #e2e3e6;
  --channel-container-height: 0px;
  --text-box-placeholder: 'Message #channel-name';
  --textbox-placeholder-display: 'flex';
  --settings-sidebar-bg: #f0f1f3;
  --settings-sidebar-item-hover-bg: #d7d9dc;
  --profile-display-top-bg: #0d5d91;
  --profile-tip-bg: #1cbc9d;
  --edit-profile-btn-bg: #5865f2;
  --online-status-bg: #23a55b;
  --full-boost-bg: rgb(14,0,244);
  --full-boost-linear-bg: linear-gradient(90deg, rgba(14,0,244,1) 0%, rgba(148,0,255,1) 100%);
  --text-box-container-height: 100px;
}

@font-face {
  font-family: 'GGSansRegular';
  src: url('../../assets/gg-sans-2/gg\ sans\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GGSansBold';
  src: url('../../assets/gg-sans-2/gg\ sans\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GGSansMedium';
  src: url('../../assets/gg-sans-2/gg\ sans\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GGSansSemiBold';
  src: url('../../assets/gg-sans-2/gg\ sans\ Semibold.ttf') format('truetype');
}

body {
  font-family: 'GGSansRegular' !important;
}

.main-component {
  height: 100vh;
}

.main-sidebar {
  height: 100%;
  width: 7% !important;
  padding: 0px;
}

.main-display {
  width: 93% !important;
}

.channel-btn {
  width: 50px;
  height: 50px;
  margin: 0px;
  flex-shrink: 0;
  margin: auto;
  cursor: pointer;
  display: block;
}

.channel-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.sub-sidebar {
  overflow: hidden;
  background-color: var(--sidebar-bg);
}

.sub-sidebar-header {
  width: 100% !important;
}

.sub-sidebar-header button {
  width: 100%;
  border-radius: 0% !important;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--inverse-black);
  text-transform: none;
  font-size: 100%;
  font-family: 'GGSansSemiBold';
  display: flex;
  justify-content: space-between;
  padding: 13px;
}
.sub-sidebar-header button:hover, sub-sidebar-header button:active, sub-sidebar-header button:focus{
background-color: transparent;
box-shadow: none !important;
border-bottom: 1px solid var(--border-color);
color: var(--inverse-black);
}

.sub-sidebar-header button::after {
  display: none;
}

.sub-sidebar-header button svg {
  width: 22px;
  height: 22px;
}

.level-boost-ui {
  font-size: 75%;
  text-transform: uppercase;
  font-family: 'GGSansSemiBold';
  color: var(--inverse-black);
}

.level-boost-ui .boost-txt {
  font-family: 'GGSansRegular' !important;
  text-transform: capitalize !important;
  display: flex;
  align-items: center;
}

.level-boost-ui .boost-txt svg {
  width: 20px;
  height: 20px;
}
